/****** Object:  Table [dbo].[Gaming_Transaction_History]    Script Date: 12-12-2024 17:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gaming_Transaction_History](
	[user_id] [nvarchar](50) NOT NULL,
	[user_name] [nvarchar](50) NULL,
	[game_type] [nvarchar](50) NOT NULL,
	[start_time] [datetime2](7) NOT NULL,
	[end_time] [datetime2](7) NOT NULL,
	[entry_fee] [tinyint] NOT NULL,
	[points_earned] [smallint] NOT NULL,
	[cash_won] [smallint] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Gaming_Transaction_History] ([user_id], [user_name], [game_type], [start_time], [end_time], [entry_fee], [points_earned], [cash_won]) VALUES (N'7c2e34ae-ef46-4385-b1c4-5bbfbed9e9f6', NULL, N'Poker', CAST(N'2024-01-28T09:09:00.0000000' AS DateTime2), CAST(N'2024-01-28T09:19:00.0000000' AS DateTime2), 10, 307, -10)
INSERT [dbo].[Gaming_Transaction_History] ([user_id], [user_name], [game_type], [start_time], [end_time], [entry_fee], [points_earned], [cash_won]) VALUES (N'83b35bab-54ae-4ca8-9c48-058afb66c492', NULL, N'Poker', CAST(N'2024-01-17T13:41:00.0000000' AS DateTime2), CAST(N'2024-01-17T16:25:00.0000000' AS DateTime2), 10, 470, 0)
INSERT [dbo].[Gaming_Transaction_History] ([user_id], [user_name], [game_type], [start_time], [end_time], [entry_fee], [points_earned], [cash_won]) VALUES (N'587643f8-02cb-4fb4-b873-a99ed3b5cdeb', NULL, N'Poker', CAST(N'2024-03-11T04:08:00.0000000' AS DateTime2), CAST(N'2024-03-11T05:59:00.0000000' AS DateTime2), 10, 59, 20)
GO
